{% extends 'users/base.html' %}
{% block title %}Add recipe{% endblock %}

<script type="text/javascript">
    var i=0;
    content = '<tr>\n' +
            '<div class="form-group">' +
            '<td><label class="control-label col-sm-3">Ingredient_1 </label></td>' +
            '<td><input type="text" name="i0" id="i0"/></td>' +
            '<td><input type="text" name="quantity0" id="quantity0"/></td>' +
            '<td><input type="text" name="unit0" id="unit0"/></td>' +
            '</div>' +
            '</tr>';
    window.onload = setTableOfIngredients;
    function setTableOfIngredients()
    {
        document.getElementById("addition").innerHTML ='<table class="table">\n' +
            '                        <thead>\n' +
            '                            <tr>\n' +
            '                                <th></th>\n' +
            '                                <th>Name</th>\n' +
            '                                <th>Quantity</th>\n' +
            '                                <th>Unit</th>\n' +
            '                            </tr>\n' +
            '                        </thead>\n' +
            '                        <tbody>'+content+'</tbody>\n' +
            '                        </table>';
    }
    function add_ingredient()
    {
        var myArrayI=[];
        var myArrayUnit=[];
        var myArrayQuantity=[];
        for(var j=0;j<i+1;j++) {
            myArrayI.push(document.getElementById("i" + j).value);
            myArrayQuantity.push(document.getElementById("quantity" + j).value);
            myArrayUnit.push(document.getElementById("unit" + j).value);
        }

        i++;


            content+='<tr>' +
        '<div class="form-group">' +
        '<td><label class="control-label col-sm-3">Ingredient_'+(i+1)+'</label></td>' +
        '<td><input type="text" name="i'+i+'" id="i'+i+'"/></td>' +
        '<td><input type="text"name="quantity'+i+'" id="quantity'+i+'"/></td>' +
        '<td><input type="text" name="unit'+i+'" id="unit'+i+'"/></td>' +
        '</div>' +
        '</tr>';

        setTableOfIngredients();

        for(j=0;j<i;j++) {
            document.getElementById("i"+j).value = myArrayI[j];
            document.getElementById("quantity"+j).value = myArrayQuantity[j];
            document.getElementById("unit"+j).value = myArrayUnit[j];
        }

        document.getElementById("number").value = i;

    }
    </script>
{% block body %}

    <!-- I check if result was succesfull or abortive-->
    {% if result %}
        {% if result == 'True' %}
            <h3 style="color: green;">Recipe is added</h3>
        {% else %}
            <h3 style="color: red;">Could't add item</h3>
        {% endif %}
    {% endif %}


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-success">
                <div class="panel-body">
                    <h2>Add your recipe here</h2>
                    <form class="form-horizontal" action="{% url 'recipes:result_of_addition_recipe' %}" method="post" enctype="multipart/form-data" id="form">
                        <!--it is for security purposes-->
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name of dish</label>
                            <input type="text" name="name" id="name"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Level</label>
                            <input type="radio" name="level" value="easy" checked> Easy
                            <input type="radio" name="level" value="average"> Average
                            <input type="radio" name="level" value="medium"> Medium
                            <input type="radio" name="level" value="difficult"> Difficult
                            <input type="radio" name="level" value="demanding"> Demanding
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Link to photo</label>
                            <input type="text" name="dish_photo"/>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3" for="instruction">Recipe:</label>
                            <div class="col-md-8">
                                <textarea name ="instruction" style="resize:vertical;overflow: auto;" class="form-control" rows="5" id="instruction"></textarea>
                            </div>
                        </div>
                        <!-- my fields for ingredients-->
                        <div class="form-group">
                            <input type="hidden" id = "number" name="number" value="0" readonly>
                        </div>
                        <div id="addition">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Ingredient 1</label>
                                <input type="text" name="i0" id="i0"/>
                                <input type="text" name="how_many0" id="how_many0"/>
                                <select name="chosen_unit0" id="chosen_unit0">
                                    {% for unit in unit_class %}
                                        <option value={{ unit }}>{{ unit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success" onclick="add_ingredient()">+</button>
                        </div>

                        <!-- end-->

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}