{% extends 'users/base.html' %}
{% block title %}{{ single_recipe.title }}{% endblock %}

{% block body %}

    <div class="panel-group">
        <!--it is photo for dish-->
        <div class="panel panel-default">
            {% if single_recipe %}
                <img src="{{ single_recipe.dish_photo}}"/><br>
            {% endif %}
            <!-- photo end -->
            <span style="font-size: 20px"><kbd> List of necessaries ingredients</kbd></span>
            <ul>
            {% for element, value in dict.items %}
                <li style="font-style: italic; font-size: 17px;">{{ element }} - {{ value }}</li>
            {% endfor %}
            </ul>
            <h2>Recipe</h2>
        </div>
        <div class="panel panel-body">
            <blockquote>{{ single_recipe.instruction }}</blockquote>
        </div>
    </div>

{% endblock %}