{% extends 'users/base.html' %}
{% block title %}{{ single_recipe.title }}{% endblock %}
{% block body %}
<script type="text/javascript">
    function func(){
    var img = document.getElementById('photo');
    img.src ='../../../../media/recipe_default.png';
    img.style.width = '300px';
};
</script>
{% load staticfiles %}
<link href="{% static 'recipes/style_singleRecipe.css' %}" rel="stylesheet">
    <div class="jumbotron">
      <div class="container">

        <div class="col-md-5">
            <div><div id="top"><span id="title">{{single_recipe.title}}</span>{% if user.is_authenticated %}<div id="like"><a  href="{% url 'recipes:likes' single_recipe.id%}" class="btn-favorite"><span class="quantity pull-right glyphicon glyphicon-thumbs-{% if thumb_is_up %}down{% else %}up{% endif %}"></span></a></div>{% endif %}</div>
            </div><!--first line in description-->
            <div><span style="font-size: 20px;font-weight: 600;">Author</span><span class="quantity pull-right" style="font-size: 20px;">{{ single_recipe.author.user.username }}</span><br><br>
            <!--second line in description-->
            <span style="font-size: 20px;font-weight: 600;">Level</span>
            <div class="quantity pull-right">
                {% if single_recipe.level == "easy" %}<span style="font-size: 20px;" class="label label-success">Easy</span>
                {% elif single_recipe.level == "average"%}<span style="font-size: 20px;" class="label label-info">Average</span>
                {% elif single_recipe.level == "medium"%}<span style="font-size: 20px;" class="label label-primary">Medium</span>
                {% elif single_recipe.level == "difficult"%}<span style="font-size: 20px;" class="label label-warning" >Difficult</span>
                {% else %}<span class="label label-danger" style="font-size: 20px;">Demanding</span>
                {% endif %}
            </div><br><br>
            <!--third line in description-->
        <span style="font-size: 20px;font-weight: 600;">Likes</span><span class="quantity pull-right badge" style="font-size: 20px;">{{ single_recipe.likes.count }}</span><br><br>
        </div></div>
          <div class="col-md-4" style="display:inline-block;">
              <img id="photo" src="http://127.0.0.1:8000/media/{{ single_recipe.dish_photo }}" onerror=func() width="300 px" class="quantity pull-right"/><br>
          </div>

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <h2>Ingredients</h2>
        <div class="panel panel-default col-md-5">
          <ul class="list-group">
            {% for element, value in dict.items %}
                <li class="list-group-item"><span style="font-weight: 500;{% if missing %}{% if element.name in missing %}color: red;{% else  %}color: green;{% endif %}{% endif %};text-transform: uppercase">{{ element }}</span><span class="quantity pull-right" style="font-weight: 600;">{{ value }}</span></li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <p><blockquote>{{ single_recipe.instruction }}</blockquote></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Jest Super 2017</p>
      </footer>
    </div> <!-- /container -->

{% endblock %}