<!--OUR BLUEPRINT!-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student's portal{% endblock %}</title>
    <!--loads the path to static files - only if needed -->
    {% load staticfiles %}
    <!--bootstrap, fonts from google -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="{% static 'users/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header-->
        <div class="navbar-header">
            <!--this button appears when device doesn't have space to display our items-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--when clicked, it redirects to the homepage-->
            <a class="navbar-brand" href="{% url 'users:index' %}">Student's Portal</a>
        </div>

        <!--Navigation items go here. For example: Recipes, User Profiles, etc.-->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <!--Todo-->
                     <a href="{% url 'recipes:bookRecipes' %}">
                         <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;Recipes
                     </a>
                </li>
            </ul>
            <!--Todo: action-->
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search_recipe:recipe_search' %}">
                <div class="form-group">
                    <!-- q - variable for user input -->
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-info">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right" >
                        <li class="">
                        {% if user.is_authenticated %}
                         <a href="{% url 'recipes:new_recipe' %}">
                             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add recipe
                         </a>
                          {% endif %}
                      </li>
                      <li class="">
                        {% if not user.is_authenticated %}
                         <a href="{% url 'users:register' %}">
                             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Register
                         </a>
                          {% else %}
                          <a href="{% url 'users:user-info' %}">
                             <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{ user.username }}
                          </a>
                          {% endif %}
                      </li>
                <li class="">
                    <!--Todo-->
                    {% if user.is_authenticated %}
                        <a href="{% url 'users:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Log Out
                        </a>
                    {% else %}
                        <a href="{% url 'users:login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Log In
                        </a>
                    {% endif %}
                </li>
            </ul>

        </div>

    </div>
</nav>
    {% block body %}
    {% endblock %}
</body>
</html>