{% extends 'users/base.html' %}
{% block title %}Log User{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-success">
                <div class="panel-body">
                    <h2>{{ LogInMsg }}</h2>
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <font color="red">
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}><i>{{ message }}</i></li>
                            </font>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <!--it is for security purposes-->
                        {% csrf_token %}
                        {% include 'users/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}